<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
<listener class-name="extentReportUtilities.MyListener"></listener>
</listeners>
<test name="KB Login Test">
<classes>
<class name="testSuit.KnowledgeBaseLoginTest" />
</classes>
</test>
</suite>
<!-- Suite -->